.Elevator {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border: 3px solid black;
}

.Elevator > div {
    flex-grow: 1;
    width: 15px;
}

.Elevator-empty-position {
    background-color: rgb(252, 252, 252);
}

.Elevator-current-position-close {
    background-color: rgb(94, 88, 88);
}

.Elevator-current-position-open {
    background-color: rgb(133, 24, 24);
}

.Elevator-buttons-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: aliceblue;
    border: 1px solid black;
}